- debug:
    msg: " CouchDB instance 0 has IP {{ couchdb_instance_0_ip }}, {{ couchdb_instance_1_ip }}, {{ couchdb_instance_2_ip }}, {{ web_front_end_ip }}" 

- name: Setting couchdb_instance_0_ip fact
  set_fact:
    couchdb_inst_ips: ['{{ couchdb_instance_0_ip }}','{{ couchdb_instance_1_ip }}', '{{ couchdb_instance_2_ip }}']


# Creating Webserver HTTP ingress SG
- name: Create "Webserver HTTP/HTTPS Ingress from CouchDB Instances" Security Group
  os_security_group:
    name: 'Webserver HTTP/HTTPS Ingress from CouchDB Instances'
    description: 'Allowing ingress HTTP and HTTPS traffic (80) from Couch DB Instances'
    state: present

# Attach HTTP Port rules to SG
- name: Attach Security Group rules (HTTP port) for "Webserver HTTP/HTTPS Ingress from CouchDB Instances"
  os_security_group_rule:
    security_group: 'Webserver HTTP/HTTPS Ingress from CouchDB Instances'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '80'
    port_range_max: '80'
    remote_ip_prefix: '{{ item }}/32'
    state: present
  loop: '{{ couchdb_inst_ips }}'

- name: Attach Security Group rules (HTTPS port) for "Webserver HTTP/HTTPS Ingress from CouchDB Instances"
  os_security_group_rule:
    security_group: 'Webserver HTTP/HTTPS Ingress from CouchDB Instances'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '443'
    port_range_max: '443'
    remote_ip_prefix: '{{ item }}/32'
    state: present
  loop: '{{ couchdb_inst_ips }}'

# Creating Webserver HTTP/S ingress from Internet SG
- name: Create "Webserver HTTP/HTTPS Ingress from Internet" Security Group
  os_security_group:
    name: 'Webserver HTTP/HTTPS Ingress from Internet'
    description: 'Allowing Webserver ingress HTTP smd HTTPS traffic (80/443) from Internet'
    state: present

# Attach HTTP Port rules to SG
- name: Attach Security Group rules (HTTP ports) for "Webserver HTTP/HTTPS Ingress from Internet"
  os_security_group_rule:
    security_group: 'Webserver HTTP/HTTPS Ingress from Internet'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '80'
    port_range_max: '80'
    remote_ip_prefix: '0.0.0.0/0'
    state: present

# Attach HTTPS Port rules to SG
- name: Attach Security Group rules (HTTPS ports) for "Webserver HTTP/HTTPS Ingress from Internet"
  os_security_group_rule:
    security_group: 'Webserver HTTP/HTTPS Ingress from Internet'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '443'
    port_range_max: '443'
    remote_ip_prefix: '0.0.0.0/0'
    state: present

- name: Attach Security Group rules (3000) for "Webserver HTTP/HTTPS Ingress from Internet"
  os_security_group_rule:
    security_group: 'Webserver HTTP/HTTPS Ingress from Internet'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '3000'
    port_range_max: '3000'
    remote_ip_prefix: '0.0.0.0/0'
    state: present

# Creating Webserver HTTP egress to Internet SG
- name: Create "Webserver HTTP egress to Internet" Security Group
  os_security_group:
    name: 'Webserver HTTP egress to Internet'
    description: 'Allowing Webserver ingress HTTP smd HTTPS traffic (80/443) from Internet'
    state: present


# Attach HTTP Port rules to SG
- name: Attach Security Group rules (HTTP ports) for "Webserver HTTP Egress to Internet"
  os_security_group_rule:
    security_group: 'Webserver HTTP egress to Internet'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '80'
    port_range_max: '80'
    remote_ip_prefix: '0.0.0.0/0'
    state: present

# Attach HTTP Port rules to SG
- name: Attach Security Group rules (3000) for "Webserver HTTP Egress to Internet"
  os_security_group_rule:
    security_group: 'Webserver HTTP egress to Internet'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '3000'
    port_range_max: '3000'
    remote_ip_prefix: '0.0.0.0/0'
    state: present

# Creating Webserver CouchDB ingress from CouchDB instances SG
- name: Create "Webserver CouchDB Ingress from CouchDB Instances" Security Group
  os_security_group:
    name: 'Webserver CouchDB Ingress from CouchDB Instances'
    description: 'Allowing Webserver ingress (port 5984) traffic from CouchDB instances'
    state: present

- name: Attach Security Group rules (CouchDB port) for "Webserver CouchDB Ingress from CouchDB Instances"
  os_security_group_rule:
    security_group: 'Webserver CouchDB Ingress from CouchDB Instances'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '5984'
    port_range_max: '5984'
    remote_ip_prefix: '{{ item }}/32'
    state: present
  loop: '{{ couchdb_inst_ips }}'

# Creating Webserver CouchDB egress to CouchDB instances SG
- name: Create "Webserver CouchDB egress to CouchDB Instances" Security Group
  os_security_group:
    name: 'Webserver CouchDB Egress to CouchDB Instances'
    description: 'Allowing Webserver ingress (port 5984) traffic to CouchDB instances'
    state: present

- name: Attach Security Group rules (CouchDB port) for "Webserver CouchDB Egress to CouchDB Instances"
  os_security_group_rule:
    security_group: 'Webserver CouchDB Egress to CouchDB Instances'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '5984'
    port_range_max: '5984'
    remote_ip_prefix: '{{ item }}/32'
    state: present
  loop: '{{ couchdb_inst_ips }}'

- name: Create a list of security group names
  set_fact:
    webserver_sg: ["SSH access from all", 
    "Webserver HTTP/HTTPS Ingress from CouchDB Instances",
    "Webserver HTTP/HTTPS Ingress from Internet", 
    "Webserver HTTP egress to Internet",
    "Webserver CouchDB Ingress from CouchDB Instances",
    "Webserver CouchDB Egress to CouchDB Instances"]

- debug:
    msg: "Security group(s) {{ webserver_sg }} have been created."

