- debug:
    msg: " CouchDB instance 1 has IP {{ couchdb_instance_0_ip }}, {{ couchdb_instance_1_ip }}, {{ couchdb_instance_2_ip }}, {{ web_front_end_ip }}" 

# Create CouchDB 1 Ingress Security Groups
- name: Create "CDB1 CouchDB Ingress from CDB0" Security Group
  os_security_group:
    name: 'CDB1 CouchDB Ingress from CDB0'
    description: 'Allowing traffic on CouchDB Ports from CDB0'
    state: present

# Create CouchDB 1 Ingress Security Groups
- name: Create "CDB1 CouchDB Ingress from CDB2" Security Group
  os_security_group:
    name: 'CDB1 CouchDB Ingress from CDB2'
    description: 'Allowing traffic on CouchDB Ports from CDB2'
    state: present


- name: Create "CDB1 CouchDB Ingress from Webserver" Security Group
  os_security_group:
    name: 'CDB1 CouchDB Ingress from Webserver'
    description: 'Allowing traffic on CouchDB Ports from Webserver'
    state: present


# Attach CouchDB Port rules to SG
- name: Attach Security Group rules (CouchDB ports) for "CDB1 CouchDB Ingress from CDB0"
  os_security_group_rule:
    security_group: 'CDB1 CouchDB Ingress from CDB0'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '{{ item }}'
    port_range_max: '{{ item }}'
    remote_ip_prefix: '{{ couchdb_instance_0_ip }}/32'
    state: present
  loop: '{{ couchdb_ports }}'

- name: Attach Security Group rules (CouchDB ports) for "CDB1 CouchDB Ingress from CDB2"
  os_security_group_rule:
    security_group: 'CDB1 CouchDB Ingress from CDB2'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '{{ item }}'
    port_range_max: '{{ item }}'
    remote_ip_prefix: '{{ couchdb_instance_2_ip }}/32'
    state: present
  loop: '{{ couchdb_ports }}'



# Create CouchDB 1 Egress Security Groups
- name: Create "CDB1 CouchDB Egress to CDB0" Security Group
  os_security_group:
    name: 'CDB1 CouchDB Egress to CDB0'
    description: 'Allowing traffic on CouchDB Ports to CDB0'
    state: present
- name: Create "CDB1 CouchDB Egress to CDB2" Security Group
  os_security_group:
    name: 'CDB1 CouchDB Egress to CDB2'
    description: 'Allowing traffic on CouchDB Ports to CDB2'
    state: present

- name: Create "CDB1 HTTP/HTTPS Egress to Webserver" Security Group
  os_security_group:
    name: 'CDB1 HTTP/HTTPS Egress to Webserver'
    description: 'Allowing traffic on HTTP and HTTPS Ports to Webserver'
    state: present

- name: Create "CDB1 CouchDB Egress to Webserver" Security Group
  os_security_group:
    name: 'CDB1 CouchDB Egress to Webserver'
    description: 'Allowing CouchDB egress traffic to Webserver'
    state: present

# Attach CouchDB Port rules to SG
- name: Attach Security Group rules (CouchDB ports) for "CDB1 CouchDB Egress to CDB0"
  os_security_group_rule:
    security_group: 'CDB1 CouchDB Egress to CDB0'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '{{ item }}'
    port_range_max: '{{ item }}'
    remote_ip_prefix: '{{ couchdb_instance_0_ip }}/32'
    state: present
  loop: '{{ couchdb_ports }}'

- name: Attach Security Group rules (CouchDB ports) for "CDB1 CouchDB Egress to CDB2"
  os_security_group_rule:
    security_group: 'CDB1 CouchDB Egress to CDB2'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '{{ item }}'
    port_range_max: '{{ item }}'
    remote_ip_prefix: '{{ couchdb_instance_2_ip }}/32'
    state: present
  loop: '{{ couchdb_ports }}'

- name: Attach Security Group rules (HTTP port) for "CDB1 HTTP/HTTPS Egress to Webserver"
  os_security_group_rule:
    security_group: 'CDB1 HTTP/HTTPS Egress to Webserver'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '80'
    port_range_max: '80'
    remote_ip_prefix: '{{ web_front_end_ip }}/32'  

- name: Attach Security Group rules (HTTPS port) for "CDB1 HTTP/HTTPS Egress to Webserver"
  os_security_group_rule:
    security_group: 'CDB1 HTTP/HTTPS Egress to Webserver'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '443'
    port_range_max: '443'
    remote_ip_prefix: '{{ web_front_end_ip }}/32'  

- name: Attach Security Group rules (CouchDB port) for "CDB1 CouchDB Egress to Webserver"
  os_security_group_rule:
    security_group: 'CDB1 CouchDB Egress to Webserver'
    protocol: 'tcp'
    direction: 'egress'
    port_range_min: '5984'
    port_range_max: '5984'
    remote_ip_prefix: '{{ web_front_end_ip }}/32' 

- name: Attach Security Group rules (CouchDB port) for "CDB1 CouchDB Ingress from Webserver"
  os_security_group_rule:
    security_group: 'CDB1 CouchDB Ingress from Webserver'
    protocol: 'tcp'
    direction: 'ingress'
    port_range_min: '5984'
    port_range_max: '5984'
    remote_ip_prefix: '0.0.0.0/0' 



# Setting additional rules list
- name: Setting additional CouchDB1 instance rules list
  set_fact:
    couchdb1_sg: ["SSH access from all", 
     "CDB1 CouchDB Ingress from CDB0",
     "CDB1 CouchDB Egress to CDB0",
     "CDB1 CouchDB Ingress from CDB2",
     "CDB1 CouchDB Egress to CDB2",
     "CDB1 HTTP/HTTPS Egress to Webserver",
     "CDB1 CouchDB Egress to Webserver",
     "CDB1 CouchDB Ingress to Webserver"]

- debug:
    msg: "Security group(s) {{ couchdb1_sg }} have been created."


# - debug:
#     msg: " CouchDB instance 0 has IP {{ couchdb_instance_0_ip }}, {{ couchdb_instance_1_ip }}, {{ couchdb_instance_2_ip }}, {{ web_front_end_ip }}" 

# # Create CouchDB 1 Ingress Security Groups
# - name: Create "CDB1 CouchDB Ingress from CDB2" Security Group
#   os_security_group:
#     name: 'CDB1 CouchDB Ingress from CDB2'
#     description: 'Allowing traffic on CouchDB Ports from CDB2'
#     state: present

# - name: Create "CDB1 HTTP/HTTPS Ingress from Harvester" Security Group
#   os_security_group:
#     name: 'CDB1 HTTP/HTTPS Ingress from Harvester'
#     description: 'Allowing traffic on HTTP/HTTPS Ports from Harvester'
#     state: present

# - name: Create "CDB1 CouchDB Ingress from Harvester" Security Group
#   os_security_group:
#     name: 'CDB1 CouchDB Ingress from Harvester'
#     description: 'Allowing traffic on CoucDB Port from Harvester'
#     state: present    

# # Attach CouchDB Port rules to SG
# - name: Attach Security Group rules (CouchDB ports) for "CDB1 CouchDB Ingress from CDB2"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Ingress from CDB2'
#     protocol: 'tcp'
#     direction: 'ingress'
#     port_range_min: '{{ item }}'
#     port_range_max: '{{ item }}'
#     remote_ip_prefix: '{{ couchdb_instance_2_ip }}/32'
#     state: present
#   loop: '{{ couchdb_ports }}'

# - name: Attach Security Group rules (HTTP port) for "CDB1 HTTP/HTTPS Ingress from Harvester"
#   os_security_group_rule:
#     security_group: 'CDB1 HTTP/HTTPS Ingress from Harvester'
#     protocol: 'tcp'
#     direction: 'ingress'
#     port_range_min: '80'
#     port_range_max: '80'
#     remote_ip_prefix: '{{ twitter_harvester_ip }}/32'
#     state: present

# - name: Attach Security Group rules (HTTPS port) for "CDB1 HTTP/HTTPS Ingress from Harvester"
#   os_security_group_rule:
#     security_group: 'CDB1 HTTP/HTTPS Ingress from Harvester'
#     protocol: 'tcp'
#     direction: 'ingress'
#     port_range_min: '443'
#     port_range_max: '443'
#     remote_ip_prefix: '{{ twitter_harvester_ip }}/32'
#     state: present

# - name: Attach Security Group rules (HTTPS port) for "CDB1 CouchDB Ingress from Harvester"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Ingress from Harvester'
#     protocol: 'tcp'
#     direction: 'ingress'
#     port_range_min: '5984'
#     port_range_max: '5984'
#     remote_ip_prefix: '{{ twitter_harvester_ip }}/32'
#     state: present

# # Create CouchDB 1 Egress Security Groups
# - name: Create "CDB1 CouchDB Egress to CDB2" Security Group
#   os_security_group:
#     name: 'CDB1 CouchDB Egress to CDB2'
#     description: 'Allowing traffic on CouchDB Ports to CDB2'
#     state: present

# - name: Create "CDB1 HTTP/HTTPS Egress to Webserver" Security Group
#   os_security_group:
#     name: 'CDB1 HTTP/HTTPS Egress to Webserver'
#     description: 'Allowing traffic on HTTP and HTTPS Ports to Webserver'
#     state: present

# - name: Create "CDB1 CouchDB Egress to Webserver" Security Group
#   os_security_group:
#     name: 'CDB1 CouchDB Egress to Webserver'
#     description: 'Allowing CouchDB egress traffic to Webserver'
#     state: present

# # Attach CouchDB Port rules to SG
# - name: Attach Security Group rules (CouchDB ports) for "CDB1 CouchDB Egress to CDB2"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to CDB2'
#     protocol: 'tcp'
#     direction: 'egress'
#     port_range_min: '{{ item }}'
#     port_range_max: '{{ item }}'
#     remote_ip_prefix: '{{ couchdb_instance_2_ip }}/32'
#     state: present
#   loop: '{{ couchdb_ports }}'

# - name: Attach Security Group rules (HTTP port) for "CDB1 HTTP/HTTPS Egress to Webserver"
#   os_security_group_rule:
#     security_group: 'CDB1 HTTP/HTTPS Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'egress'
#     port_range_min: '80'
#     port_range_max: '80'
#     remote_ip_prefix: '{{ web_front_end_ip }}/32'  

# - name: Attach Security Group rules (HTTPS port) for "CDB1 HTTP/HTTPS Egress to Webserver"
#   os_security_group_rule:
#     security_group: 'CDB1 HTTP/HTTPS Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'egress'
#     port_range_min: '443'
#     port_range_max: '443'
#     remote_ip_prefix: '{{ web_front_end_ip }}/32'  

# - name: Attach Security Group rules (CouchDB port) for "CDB1 CouchDB Egress to Webserver"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'egress'
#     port_range_min: '5984'
#     port_range_max: '5984'
#     remote_ip_prefix: '{{ web_front_end_ip }}/32' 

# - name: Attach Security Group rules (CouchDB port) for "CDB1 CouchDB Egress to Webserver"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'ingress'
#     port_range_min: '5984'
#     port_range_max: '5984'
#     remote_ip_prefix: '0.0.0.0/0' 

# - name: Attach Security Group rules (HTTP ports) for "Harvester HTTP/HTTPS Ingress from Internet"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'egress'
#     port_range_min: '5984'
#     port_range_max: '5984'
#     remote_ip_prefix: '0.0.0.0/0'

# - name: Attach Security Group rules (HTTP ports) for "Harvester HTTP/HTTPS Ingress from Internet"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'egress'
#     port_range_min: '80'
#     port_range_max: '80'
#     remote_ip_prefix: '0.0.0.0/0'
#     state: present

# # Attach HTTPS Port rules to SG
# - name: Attach Security Group rules (HTTPS ports) for "Harvester HTTP/HTTPS Ingress from Internet"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'egress'
#     port_range_min: '443'
#     port_range_max: '443'
#     remote_ip_prefix: '0.0.0.0/0'
#     state: present

# - name: Attach Security Group rules (HTTPS ports) for "Harvester HTTP/HTTPS Ingress from Internet"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'ingress'
#     port_range_min: '80'
#     port_range_max: '80'
#     remote_ip_prefix: '0.0.0.0/0'
#     state: present

# - name: Attach Security Group rules (HTTPS ports) for "Harvester HTTP/HTTPS Ingress from Internet"
#   os_security_group_rule:
#     security_group: 'CDB1 CouchDB Egress to Webserver'
#     protocol: 'tcp'
#     direction: 'ingress'
#     port_range_min: '443'
#     port_range_max: '443'
#     remote_ip_prefix: '0.0.0.0/0'
#     state: present

# # Setting additional rules list
# - name: Setting additional CouchDB1 instance rules list
#   set_fact:
#     couchdb1_sg: ["SSH access from all", 
#      "CDB1 CouchDB Ingress from Harvester",
#      "CDB1 CouchDB Ingress from CDB2",
#      "CDB1 HTTP/HTTPS Ingress from Harvester",
#      "CDB1 CouchDB Egress to CDB2",
#      "CDB1 HTTP/HTTPS Egress to Webserver",
#      "CDB1 CouchDB Egress to Webserver"]

# - debug:
#     msg: "Security group(s) {{ couchdb1_sg }} have been created."

