# Run Web Server Setup
- name: Run setup for ws
  remote_user: ubuntu
  ignore_errors: true
  shell: "{{ item }}"
  with_items:
    - sudo apt install jq -y
    - git clone https://benjamin-129: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@github.com/benjamin-129/cluster-a2.git
    - cd cluster-a2/front-end/ && tmp=$(mktemp) && sudo jq '.proxy = "http://{{ couchdb_instance_0_ip }}:5984"' package.json > "$tmp" && mv "$tmp" package.json
    - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash - && sudo apt install nodejs -y
    - sudo echo "OUTPUT_URL = 'http://{{ couchdb_instance_0_ip }}:5984/front_end/output/out_data.json'" >> cluster-a2/front-end/.env
    - cd cluster-a2/front-end/ && sudo npm install
    - sudo npm install pm2 -g
    - cd cluster-a2/front-end/ && pm2 start npm -- start

  delegate_to: '{{ web_front_end_ip }}'

# - name: Run setup for ws
#   remote_user: ubuntu
#   ignore_errors: true
#   shell: "{{ item }}"
#   with_items:
#     - sudo apt install jq -y
#     - git clone https://benjamin-129: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@github.com/benjamin-129/cluster-a2.git
#     - cd cluster-a2/front-end/ && tmp=$(mktemp) && sudo jq '.proxy = "http://45.113.232.114:5984"' package.json > "$tmp" && mv "$tmp" package.json


#     - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash - && sudo apt install nodejs -y
#     - sudo npm install pm2 -g
#     - sudo echo "OUTPUT_URL = 'http://45.113.232.114:5984/front_end/output/out_data.json'" >> cluster-a2/front-end/.env
#     - cd cluster-a2/front-end/ && sudo npm install
#     - cd cluster-a2/front-end/ && pm2 start npm -- start

#   delegate_to: '45.113.233.215'
  
# REFERENCES
# 
# Ansible 2021, Loops, viewed 1st May 2021, 
# <https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#iterating-over-a-simple-list>
# 
# Ansible 2021, os_security_group_rule - Add/Delete rule from an existing security group, viewed 1st May 2021, 
# <https://docs.ansible.com/ansible/2.5/modules/os_security_group_rule_module.html>
# 
# Ansible 2021, os_server - Create/Delete Compute Instances from Openstack, viewed 25th April 2021, <https://docs.ansible.com/ansible/2.4/os_server_module.html>
# 
# Ansible 2021, Tags, viewed 25th April 2021, 
# <https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html>.
# 
# Apache Software Foundation 2021, 2.2/ Cluster Setup, viewed 1st May 2021,
# <https://docs.couchdb.org/en/stable/setup/cluster.html>.
# 
# Eisenkot, G 2020, Security challenges and risks with infrastructure as code, viewed 21st May 2021,
# <https://bridgecrew.io/blog/security-challenges-and-risks-with-infrastructure-as-code/>
# 
# Harrower, M. and Bloch, M., 2006. MapShaper. org: A map generalization web service. IEEE Computer Graphics and Applications, 26(4), pp.22-27.
# 
# Internet Assigned Numbers Authority 2021, Service Name and Transport Protocol Port Number Registry, viewed 1st May 2021, <https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=http>.
# 
# JGraph 2021, diagrams.net, viewed 1st April 2021, 
# <https://www.diagrams.net>.
# 
# Pan, A 2021, Workshop 9-10 Ansible, The University of Melbourne, Parkville, viewed 24th April 2021, <https://canvas.lms.unimelb.edu.au/courses/105440/files/7077574/download?download_frd=1>.
# 
# Pan, A 2021, Workshop 9-10 Ansible Code, The University of Melbourne, Parkville, viewed 24th April 2021, <https://canvas.lms.unimelb.edu.au/files/7112800/download?download_frd=1>.
# 
# The University of Melbourne 2021, Re:Cite, viewed 21st May 2021, 
# <https://library.unimelb.edu.au/recite>.
# 
# Tutorials Point 2021, YAML - Comments, viewed 1st May 2021, 
# <https://www.tutorialspoint.com/yaml/yaml_comments.htm>.
# 
# Vasiljevic, S 2020, Infrastructure As Code Demistifyed: IaC Benefits, Challenges and Best Practies, viewed 21st May 2021, 
# <https://superadmins.com/infrastructure-as-code-demystified-iac-benefits-challenges-best-practices/>