# Webserver HTTP/HTTPS Ingress from CouchDB Instances Security/Group Roles
- name: Creating "Webserver HTTP/HTTPS Ingress from CouchDB Instances" Security Group
  os_security_group:
    name: '{{ item.name }}'
    description: '{{ item.description }}'
    state: present
  loop: '{{ webserver-https-couch-inst-security-group }}'

- name: Attach Security Group rules (HTTP/S ports) for "Webserver HTTP/HTTPS Ingress from CouchDB Instances" (CouchDB0)
  os_security_group_rule:
    security_group: '{{ item.name }}'
    protocol: '{{ item.protocol }}'
    direction: '{{ item.direction }}'
    port_range_min: '{{ item.port_range_min }}'
    port_range_max: '{{ item.port_range_max }}'
    remote_ip_prefix: '{{ couchdb_instance_0_ip }}/32'
    state: present'
  loop: '{{ webserver-https-couch-inst-security-group-roles }}'

- name: Attach Security Group rules (HTTP/S ports) for "Webserver HTTP/HTTPS Ingress from CouchDB Instances" (CouchDB1)
  os_security_group_rule:
    security_group: '{{ item.name }}'
    protocol: '{{ item.protocol }}'
    direction: '{{ item.direction }}'
    port_range_min: '{{ item.port_range_min }}'
    port_range_max: '{{ item.port_range_max }}'
    remote_ip_prefix: '{{ couchdb_instance_1_ip }}/32'
    state: present'
  loop: '{{ webserver-https-couch-inst-security-group-roles }}'

- name: Attach Security Group rules (HTTP/S ports) for "Webserver HTTP/HTTPS Ingress from CouchDB Instances" (CouchDB2)
  os_security_group_rule:
    security_group: '{{ item.name }}'
    protocol: '{{ item.protocol }}'
    direction: '{{ item.direction }}'
    port_range_min: '{{ item.port_range_min }}'
    port_range_max: '{{ item.port_range_max }}'
    remote_ip_prefix: '{{ couchdb_instance_2_ip }}/32'
    state: present'
  loop: '{{ webserver-https-couch-inst-security-group-roles }}'

# Webserver HTTP/S/React Ingress/Egress to/from Internet Security Group/Roles
- name: Creating "Webserver HTTP/S/React Ingress/Egress from Internet" Security Group
  os_security_group:
    name: '{{ item.name }}'
    description: '{{ item.description }}'
    state: present
  loop: '{{ webserver-https-react-internet-security-group: }}'

- name: Attach Security Group rules (HTTP/S/React) for "Webserver HTTP/S/React Ingress/Egress from Internet"
  os_security_group_rule:
    security_group: '{{ item.name }}'
    protocol: '{{ item.protocol }}'
    direction: '{{ item.direction }}'
    port_range_min: '{{ item.port_range_min }}'
    port_range_max: '{{ item.port_range_max }}'
    remote_ip_prefix: '{{ item.ip_prefix }}'
    state: present'
  loop: '{{ webserver-https-react-internet-security-group-roles }}'

# Webserver CouchDB Ingress/Egress to/from CouchDB Instances Security Group/Roles
- name: Creating "Webserver CouchDB Ingress/Egress from CouchDB Instances" Security Group
  os_security_group:
    name: '{{ item.name }}'
    description: '{{ item.description }}'
    state: present
  loop: '{{ webserver-couchdb-couch-inst-security-group }}'

- name: Attach Security Group rules (CouchDB ports) for "Webserver CouchDB Ingress/Egress from CouchDB Instances" (CouchDB0)
  os_security_group_rule:
    security_group: '{{ item.name }}'
    protocol: '{{ item.protocol }}'
    direction: '{{ item.direction }}'
    port_range_min: '{{ item.port_range_min }}'
    port_range_max: '{{ item.port_range_max }}'
    remote_ip_prefix: '{{ couchdb_instance_0_ip }}/32'
    state: present'
  loop: '{{ webserver-couchdb-couch-inst-security-group-roles }}'

- name: Attach Security Group rules (CouchDB ports) for "Webserver CouchDB Ingress/Egress from CouchDB Instances" (CouchDB1)
  os_security_group_rule:
    security_group: '{{ item.name }}'
    protocol: '{{ item.protocol }}'
    direction: '{{ item.direction }}'
    port_range_min: '{{ item.port_range_min }}'
    port_range_max: '{{ item.port_range_max }}'
    remote_ip_prefix: '{{ couchdb_instance_1_ip }}/32'
    state: present'
  loop: '{{ webserver-couchdb-couch-inst-security-group-roles }}'

- name: Attach Security Group rules (CouchDB ports) for "Webserver CouchDB Ingress/Egress from CouchDB Instances" (CouchDB2)
  os_security_group_rule:
    security_group: '{{ item.name }}'
    protocol: '{{ item.protocol }}'
    direction: '{{ item.direction }}'
    port_range_min: '{{ item.port_range_min }}'
    port_range_max: '{{ item.port_range_max }}'
    remote_ip_prefix: '{{ couchdb_instance_2_ip }}/32'
    state: present'
  loop: '{{ webserver-couchdb-couch-inst-security-group-roles }}'

# Setting additional Security Group list for Web Server
- name: Create a list of security group names
  set_fact:
    webserver_sg: ["SSH access from all", 
    "Webserver HTTP/HTTPS Ingress from CouchDB Instances",
    "Webserver HTTP/S/React Ingress/Egress to/from Internet",
    "Webserver CouchDB Ingress/Egress to/from CouchDB Instances"]

- debug:
    msg: "Security group(s) {{ webserver_sg }} have been created."

