- name: COMP90024-A2-Playbook_Team-42
  hosts: localhost
  vars:
    ansible_python_interpreter: /usr/bin/python3
  vars_files:
    - variables/volumes/volumes.yaml
    - varaibles/hosts/hosts.yaml
    - variables/security-groups/ssh-access.yaml
    - variables/security-groups/couchdb-sg.yaml
  gather_facts: true

  roles:
    - role: 1-common
    - role: 2-creation-of-ssh-access-sg
    - role: 3-creation-of-volumes
    - role: 4-creation-instances-initial
    - role: 5-creation-of-additional-couchdb0-sg
    - role: 6-creation-of-additional-couchdb1-sg
    - role: 7-creation-of-additional-couchdb2-sg
    - role: 8-creation-of-additional-webserver-sg
    - role: 9-application-of-additional-sg
    - role: 10-couchdb-setup
    - role: 11-ws-setup