# Team-42: James Sammut (502030) Andrzej Poniatowski (1048535) 
# Matthew Lim (895507) Benjamin Tam (889835) Xinyue Hu (1147042) 

# Create CouchDB Instance 0 volume on MRC (Pan 2021).
- name: Create volume for CouchDB0 instance
  os_volume:
    display_name: '{{ item.name }}'
    size: '{{ item.size }}'
    availability_zone: '{{ item.availability_zone }}'
    wait: yes
    timeout: 300
    state: present
  loop: '{{ couchdb0_volumes }}'
  register: os_vol

  # Set couchdb0_vols list (Pan 2021).
- name: Set couchdb0_vols fact 
  set_fact:
    couchdb0_vols: [ item.id ] 
  loop: '{{ os_vol.results }}'

# Create CouchDB Instance 1 volume on MRC (Pan 2021).
- name: Create volume for CouchDB1 instance
  os_volume:
    display_name: '{{ item.name }}'
    size: '{{ item.size }}'
    availability_zone: '{{ item.availability_zone }}'
    wait: yes
    timeout: 300
    state: present
  loop: '{{ couchdb1_volumes }}'
  register: os_vol

# Set couchdb1_vols list (Pan 2021).
- name: Set couchdb1_vols fact 
  set_fact:
    couchdb1_vols: [ item.id ] 
  loop: '{{ os_vol.results }}'

# Create CouchDB Instance 2 volume on MRC (Pan 2021).
- name: Create volume for CouchDB2 instance
  os_volume:
    display_name: '{{ item.name }}'
    size: '{{ item.size }}'
    availability_zone: '{{ item.availability_zone }}'
    wait: yes
    timeout: 300
    state: present
  loop: '{{ couchdb2_volumes }}'
  register: os_vol

# Set couchdb2_vols list (Pan 2021).
- name: Set couchdb2_vols fact 
  set_fact:
    couchdb2_vols: [ item.id ] 
  loop: '{{ os_vol.results }}'

# REFERENCES
# 
# Ansible 2021, Loops, viewed 1st May 2021, 
# <https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#iterating-over-a-simple-list>
# 
# Ansible 2021, os_security_group_rule - Add/Delete rule from an existing security group, viewed 1st May 2021, 
# <https://docs.ansible.com/ansible/2.5/modules/os_security_group_rule_module.html>
# 
# Ansible 2021, os_server - Create/Delete Compute Instances from Openstack, viewed 25th April 2021, <https://docs.ansible.com/ansible/2.4/os_server_module.html>
# 
# Ansible 2021, Tags, viewed 25th April 2021, 
# <https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html>.
# 
# Apache Software Foundation 2021, 2.2/ Cluster Setup, viewed 1st May 2021,
# <https://docs.couchdb.org/en/stable/setup/cluster.html>.
# 
# Eisenkot, G 2020, Security challenges and risks with infrastructure as code, viewed 21st May 2021,
# <https://bridgecrew.io/blog/security-challenges-and-risks-with-infrastructure-as-code/>
# 
# Harrower, M. and Bloch, M., 2006. MapShaper. org: A map generalization web service. IEEE Computer Graphics and Applications, 26(4), pp.22-27.
# 
# Internet Assigned Numbers Authority 2021, Service Name and Transport Protocol Port Number Registry, viewed 1st May 2021, <https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=http>.
# 
# JGraph 2021, diagrams.net, viewed 1st April 2021, 
# <https://www.diagrams.net>.
# 
# Pan, A 2021, Workshop 9-10 Ansible, The University of Melbourne, Parkville, viewed 24th April 2021, <https://canvas.lms.unimelb.edu.au/courses/105440/files/7077574/download?download_frd=1>.
# 
# Pan, A 2021, Workshop 9-10 Ansible Code, The University of Melbourne, Parkville, viewed 24th April 2021, <https://canvas.lms.unimelb.edu.au/files/7112800/download?download_frd=1>.
# 
# The University of Melbourne 2021, Re:Cite, viewed 21st May 2021, 
# <https://library.unimelb.edu.au/recite>.
# 
# Tutorials Point 2021, YAML - Comments, viewed 1st May 2021, 
# <https://www.tutorialspoint.com/yaml/yaml_comments.htm>.
# 
# Vasiljevic, S 2020, Infrastructure As Code Demistifyed: IaC Benefits, Challenges and Best Practies, viewed 21st May 2021, 
# <https://superadmins.com/infrastructure-as-code-demystified-iac-benefits-challenges-best-practices/>