.root {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.map-marker {
    border-radius: 50%;
    cursor: pointer;
}

.map-nav {
    bottom: 32px;
    position: absolute;
    right: 8px;
}

.map-tooltip {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.map-tooltip-field {
    display: flex;
    align-items: center;
}


.map-tooltip-header {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-transform: uppercase;
    margin:16px;
    align-items: center;
}

.map-tooltip-label {
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    margin-right: 8px;
    text-transform: uppercase;
}

.mapboxgl-popup-content {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.mapboxgl-popup-close-button {
    color: rgba(255, 255, 255, 0.7);
}

.map-tooltip-value {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}

.margin {
    display: flex;
    margin: 4px;
}

.legend {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: space-around;
    position: absolute;
    bottom: 64px;
    width: 720px;
    z-index: 1;
 
}

.legend-field {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.legend-icon {
    border-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 10px;
    margin-right: 8px;
    width: 10px;
}

.legend-icon-active {
    border-color: rgba(255, 255, 255, 1);
}

.legend-label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-transform: uppercase;
}

.legend-label-active {
    color: rgba(255, 255, 255, 1);
}

.chart {
    align-items: center;
    border-radius: 5px;
    height: 180px;
    justify-content: space-around;
    width: 300px;
    color: rgba(255, 255, 255, 1);
}

.h1{
  font-size:20px;
  align-items: center;
  position: absolute;
  left:64px;
  top:-24px;
}

.footer {
    bottom: 32px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    position: absolute;
    z-index: 1;
    align-items: center;
}

.menu{
  background-color: rgba(25, 26, 26,0.95);
  overflow: hidden;
  width:100%;
  height:46px;
  z-index: 1;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 0.7);
}

.mr-auto{
  color:rgba(255, 255, 255, 0.8);
}

.recharts-cartesian-axis-tick {    
    font-size: 0.2rem;
    font-family: Roboto, sans-serif;
}

.home-content{
    margin-left:64px;
    margin-right:64px;
    margin-top:32px;
}

.header{
    margin-top:152px;
    background-color: rgba(25, 26, 26,0.95);
    color:rgba(255, 255, 255, 0.8);
    padding:64px;
}