# Team-42: James Sammut (502030) Andrzej Poniatowski (1048535) 
# Matthew Lim (895507) Benjamin Tam (889835) Xinyue Hu (1147042) 

CouchDB==1.2
geojson==2.5.0
pickleshare==0.7.5
tweepy==3.10.0
afinn==0.1
